p{
	font-family:"Lucida Console " , monospace;
	color:black;
	}
.line1{
	font-family:"Arial" , sans-serif;
	}
.line2{
	font-family:"Lucida Console " , monospace;
	}
.line3{
	font-family:"Courier New " , monospace;
	}
.line4{
	font-family:"Brush Script MT" , cursive;
}
/*以上為調整字體*/
		
#c1{
	border-radius:15px;
	
	background-image: url("./image/david.jpg"); 
	background-size:250px;
	padding:20px;
	width:150px;
	height:100px;
	}
#c2{
	border-radius:15px 30px;
	
	background-image: url("./image/lucy.jpg");
	background-size:300px;
	padding:20px;
	width:150px;
	height:100px;
	}
#c3{
	border-radius:15px 30px;
	
	background-image: url("./image/maine.jpg");
	background-size:300px;
	background-position:right;
	padding:20px;
	width:150px;
	height:100px;
	}
#c4{
	border-radius:15px 30px;
	
	background-image: url("./image/rebecca.jpg");
	background-size:200px;
	padding:20px;
	width:150px;
	height:100px;
	}	
/*以上為設置圖片框*/
	
a:link {
	color:green;
	}
a:visited {
	color:green;
	}
a:hover {
	color:yellow;
	}
a:active {
	color:blue;
	}
/*以上為觸發字體效果*/

.style1{
	border-radius:50px;
	max-width:100%;
	height:200px;
	}
.style2{
	border-radius:50px;
	max-width:100%;
	height:200px;
	}
.style3{
	border-radius:50px;
	max-width:100%;
	height:200px;
	}
.style4{
	border-radius:50px;
	max-width:100%;
	height:200px;
	}
/*以上為調整圖片外型*/
	
img {
	border-radius:50px;
	max-width:100%;
	height: 200px;
	opacity: 1.0;
}

img:hover{
	border-radius:50px;
	max-width:100%;
	height: 200px;
	opacity: 0.4;
}	
/*以上為觸發圖片效果*/

	
body{
	background-image: url("./image/logo.jpg");
	background-size:1300px;
	background-repeat: no-repeat;
	background-position:right top;
	background-attachment:fixed;
	}
/*以上為背景圖*/
